# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Local testing.
experiments/

# JetBrains IDEs
.idea/
*.iml

# VS Code
.vscode

**/*.unopt.*

**/node_modules/**
**/dist/**

**/.DS_Store

wasm/src/xxh3_js/
